.header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #445162;
    width: 100%;
    height: 323px;
}

.header__text{
    align-content: space-between
}

.header__text .welcom{
    align-self: flex-start;
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}

.header__text .list{
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff; 
}

.header__text .list img{
    width: 25px;
    height: 19px;
    margin: 8px 8px 8px 0px;
}

.info{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.info__text{
	padding: 0px 0px 0px 38px;
}

.info__text .title{
    margin: 0px 0px 35px 0px;
    width: 750px;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.info__text .definition{
    width: 750px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.info__text .definition p{
    margin: 0px 0px 15px 0px;   
}

.columns {
    padding: 50px;
	background-color: #f5f5f5;
}

.columns .title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.columns__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}

.columns__column {
    display: flex;
	flex: 0 1 50%;
	padding: 0px 8px;
	margin: 0px 0px 30px 0px;
}

.column__content {
	padding: 0px 0px 0px 15px;
	flex: 1 1 auto;
}

.column__title {
	color: #445161;
	font-size: 24px;
	margin: 0px 0px 15px 0px;
}

.column__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.vertical{
    padding: 50px 50px 20px 50px;
}

.vertical .title{
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.vertical__content {
    display: flex;
    justify-content: space-between;
	max-width: 990px;
	margin: 30px auto;
}

.vertical__column {
    width: 300px;
	background-color: #445162;
	border-radius: 5px;
	color: #fff;
	border: 1px solid #445162;
	display: flex;
	flex-direction: column;
	padding: 0px 0px 20px 0px;
}

.vertical .subtitle{
    text-align: center;
	padding: 15px 0;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.vertical .label {
	text-align: center;
	background-color: #fff;
	padding: 12px 0;
	font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}

.vertical .text {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
	padding: 20px;
    flex: 1;
}

.vertical .text p{
	margin: 0px 0px 15px 0px;
}

.vertical__btn{
    display: block;
	margin: 0px 20px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	border-radius: 5px;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    color: #445161;
}

.footer {
	background-color: #f5f5f5;
    display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}

.footer__text {
	font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}